<nav aria-label="breadcrumb" class="mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/entries">Categorias</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
        </ol>
    </nav>
    
    <div class="row mb-4">
        <div class="col-md">
            <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
        </div>
    
        <div class="col-md">
            <a routerLink="/entries" class="btn btn-light float-right">Voltar</a>
        </div>
    </div>
    